RewriteEngine On
RewriteCond %{HTTP_HOST} ^joabhomearts\.com$ [NC]
RewriteRule ^(.*)$ http://www.joabhomearts.com/$1 [R=301,L]

# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
#The next line modified by DenyIP
order allow,deny
#The next line modified by DenyIP
#deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName joabhomearts.com
AuthUserFile /home/joabhome/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/joabhome/public_html/_vti_pvt/service.grp

<Files 403.shtml>
order allow,deny
allow from all
</Files>




AddHandler application/x-httpd-php53 .php .php5 .php4 .php3
