<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel='stylesheet' type='text/css' href="/admin/other/css.css"></link>
<script language="JAVASCRIPT" src="/admin/other/js.js"></script>
<title>无标题文档</title>
</head>
<body>
<div class="sectionHeader">订单列表</div>
<div class="sectionBody">

<form name="form2" action="index.php" method="post" >
<table width=95% border="0" class="grid">

  <tr>
    <td class="gridHeader">订单号</td>
    <td class="gridHeader">产品编号</td>
    <td class="gridHeader">订购用户</td>
    <td class="gridHeader">订购时间</td>
    <td class="gridHeader">操作</td>
  </tr> 
  <!-- BEGIN rows --> 
  <tr>
    <td class="row2">{ordernum_no}</td>
    <td class="row2"><a href="/admin/index.php?mod=proInq&numbers={proid}">{proid}</a></td>
    <td class="row2"><a href="/admin/index.php?mod=member&userid={userid}">{username}</td>
    <td class="row2">{orderTime}</td>
    <td class="row2"><a href="/admin/index.php?mod=proxx&ordernum={ordernum_no}" >[详细]</a>
    <a href='#' onclick="if(confirm('确定删除！')) location.href='index.php?mod=orderDel&ordernum={ordernum_no}'">[册除]</a></td>
  </tr>
  <!-- END rows -->
  <tr><td class="row1" colspan="4">{links}</td></tr>
</table>
</form>

</div>
</div>
</body>
</html>
