<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<link rel='stylesheet' type='text/css' href="./other/css.css"></link>
<script language="JAVASCRIPT" src="./other/js.js"></script>
<title>无标题文档</title>
</head>
<body>
<div class="sectionHeader">订单号：{ordernum}</div>
<div class="sectionBody">

<form name="form2" action="index.php" method="post" >
<table width=95% border="0" class="grid">

  <tr>
<!--    <td class="gridHeader">订单号</td>-->
    <td class="gridHeader">产品编号</td>
    <td class="gridHeader">规格</td>
    <td class="gridHeader">价格</td>
    <td class="gridHeader">数量</td>
    <td class="gridHeader">总价</td>
<!--    <td class="gridHeader">操作</td>-->
  </tr> 
  <!-- BEGIN rows --> 
  <tr>
<!--    <td class="row2">{ordernum_no}</td>-->
    <td class="row2">{proid}</td>
    <td class="row2">{pecif}inch</td>
    <td class="row2">{price}</td>
    <td class="row2">{nums}</td>
    <td class="row2">{oneprice}</td>
<!--    <td class="row2">{orderTime}</td>-->
<!--    <td class="row2"><a href="/admin/index.php?mod=proxx&ordernum={ordernum_no}">[详细]</td>-->
  </tr>
  <!-- END rows -->
  <tr><td class="row1" colspan="5" align="right">总价:{allprice}</td></tr>
  <tr><td class="row1" colspan="5">{links}</td></tr>
</table>
</form>

</div>
</div>
</body>
</html>
